# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo
.idea

# Turbo
.turbo/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local
.npm-cache
.next
packages/hsca/datasets/data.json
